<div class="containe">
    <!-- Long Metrage -->
    <div class="row">
        <div class="col xs12">
            <h3>Long métrage</h3>
        </div>
    </div>
    <div class="row">
        <div class="col xs4 gallery-item" style="margin-left: 10%;">
            <img src="/assets/longMetrage/co5jBeCwHerfC0GPvxLH0D4qj5q.jpg" alt="Image 1">
        </div>
        <div class="col xs4 gallery-item">
            <img src="/assets/longMetrage/e3e38273924a2dd3dc557c7d379ee051.jpg" alt="Image 1">
        </div>
        <div class="col xs4 gallery-item">
            <img src="/assets/longMetrage/Pearl.jpg" alt="Image 1">
        </div>
        <!-- Ajoutez plus d'éléments .gallery-item au besoin -->
    
    </div>

    <!-- Tournage clip video musiquee -->
    <div class="row">
        <div class="col xs12">
            <h3>Tournage clip video musique</h3>
        </div>
    </div>
    <div class="gallery-container">
        <div class="gallery-item">
            <img src="/assets/clipVideo/ab67616d0000b2735584cef27416228a72974d02.jpeg" alt="Image 1">
        </div>
        <div class="gallery-item">
            <img src="/assets/clipVideo/maxresdefault-2.jpg" alt="Image 1">
        </div>
        <div class="gallery-item">
            <img src="/assets/clipVideo/maxresdefault.jpg" alt="Image 1">
        </div>
        <div class="gallery-item">
            <img src="/assets/clipVideo/TWICE2019_MNL_Poster-with-price_web_resized.jpg" alt="Image 1">
        </div>
        <div class="gallery-item">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIF.4sujJWyldYwySsd%252fQal%252bOg%26pid%3DApi&f=1&ipt=90a15fb34a30621131249044d3b7e94deeb36709b9084d4701d52a9d7b178428&ipo=images"
                alt="Image 2">
        </div>
    </div>
</div>

