

.gallery-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
}

.gallery-item {
    flex-shrink: 0;
    overflow: hidden;
    
    img {
        height: 300px;
        border-radius: 8px;
        margin-right: 100px;
        object-fit: cover;
        /* ajuste l'image pour couvrir la boîte tout en préservant son ratio d'aspect */
        display: block;
    }
}

h3 {
    text-align: center;
}

.row {
    margin-top: 100px;
    margin-bottom: 100px;
}

.containe {
    padding-left: 5%;
    padding-bottom: 100px;
}