.text-bio {
    text-align: center;
    padding: 15%;
}

.row{
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 15%;
}

img{
    height: 400px;
    max-width: 460px;
    border-radius: 20px;
}
